body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  background-color: #f6f6f6;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p {
  margin-bottom: 15px;
}

.product-card-tabs {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  display: flex;
  justify-content: space-between;
  color: #867b78;
}

.tab-mavigation {
  width: 30%;
  align-self: flex-start;
  background-color: #ffffff;
  box-shadow: 3px 3px 11px 1px rgb(0 0 0 / 16%);
  border-radius: 10px;
}

.tab-arrows {
  display: none;
}

.tab {
  padding: 15px 22px;
  font-size: 18px;
  cursor: pointer;
  border: 1px solid transparent;
}

.tab:hover {
  background-color: rgb(248, 248, 248);
  color: #42241c;
}

.tab-active {
  border: 1px solid #dbdbdb;
  border-radius: 10px;
  color: #42241c;
}

.tab-active:hover {
  background-color: #ffffff;
}

.tab-contents {
  width: 68%;
  background-color: #ffffff;
  border-radius: 10px;
}

.tab-content {
  height: 100%;
  display: none;
  padding: 25px 30px;
  box-shadow: 3px 3px 11px 1px rgb(0 0 0 / 16%);
  border-radius: 10px;
}

.tab-content-active {
  display: block;
}

.tab-content-title {
  margin-bottom: 15px;
  position: relative;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  color: #42241c;
}

.title {
  padding: 10px 20px;
  position: relative;
  display: inline;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  background-color: #ffffff;
  color: #42241c;
  z-index: 2;
}

.tab-content-title::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
  background-color: #dbdbdb;
}

.tab-heading::before {
  content: "";
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.description::before {
  background-image: url(/tab-menu/images/2.png);
}

.characteristic::before {
  background-image: url(/tab-menu/images/3.png);
}

.delivery::before {
  background-image: url(/tab-menu/images/4.png);
}

.reviews::before {
  background-image: url(/tab-menu/images/5.png);
}

.tab-content-img {
  width: 100%;
}

.review-add {
  font-size: 18px;
}

.form-group {
  margin-top: 15px;
}

.form-description {
  margin-bottom: 5px;
  display: block;
  font-size: 14px;
}

.input-text {
  width: 50%;
  height: 40px;
  padding: 5px 15px;
  font-size: 12px;
  font-family: inherit;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.text-area {
  max-width: 100%;
  min-width: 100%;
  max-height: 400px;
  min-height: 150px;
  padding: 15px;
  font-size: 12px;
  font-family: inherit;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.form-button {
  width: 170px;
  height: 50px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  border: 1px solid transparent;
  background-color: #42241c;
  color: #ffffff;
  cursor: pointer;
}

.form-button:hover {
  background-color: #552e23;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .product-card-tabs {
    width: 85%;
  }

  .tab {
    font-size: 16px;
  }
  
  .tab-heading::before {
    width: 25px;
    height: 25px;
  }

  .title {
    font-size: 20px;
  }

  .tab-content-text {
    font-size: 14px;
  }

  .review-add {
    font-size: 16px;
  }

  .form-description {
    font-size: 13px;
  }

  .input-text {
    width: 70%;
  }

  .form-button {
    width: 160px;
    height: 45px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .product-card-tabs {
    width: 90%;
    flex-direction: column;
  }

  .tab-mavigation {
    width: 230px;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
  }

  .tab {
    display: none;
    width: 100%;
  }

  .tab-active {
    display: block;
  }

  .tab-arrows {
    display: block;
  }

  .tab-arrow-prev, .tab-arrow-next  {
    position: absolute;
    top: 28%;
    width: 30px;
    height: 30px;
    display: inline-block;
  }

  .tab-arrow-prev {
    left: -40px;
  }

  .tab-arrow-next  {
    right: -40px;
  }

  .tab-arrow-img-prev, .tab-arrow-img-next {
    width: 100%;
  }

  .tab-contents {
    width: 100%;
  }

  .title {
    font-size: 20px;
  }

  .tab-content-text {
    font-size: 14px;
  }

  .input-text {
    width: 100%;
  }


}