/*------Сброс стилей------*/

* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a:focus, a:active {
  outline: none;
}

:focus, :active {
  outline: none;
}

body {
  height: 100vh;
  line-height: 1.5;
  font-size: 14px;
}

input, button, textarea, select {
  font-family: inherit;
}

img {
  width: 100%;
  display: block;
}

button {
  cursor: pointer;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------------*/