@import "reset";


$field-color: rgb(71, 219, 212);
$button-color: rgb(239, 239, 239);
$txt-color-blue: rgb(73, 180, 175);
$button-hover: transparent;
$field-hover: rgb(73, 180, 175);

%modal {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

%modal-window {
  position: relative;
  top: 30%;
  width: 30%;
  margin: 0 auto;
  background-color: #f8f6f6;
  border-radius: 10px;
}

%flexible {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin grid ($col, $row, $gap) {
  display: grid;
  grid-template-columns: repeat($col, 1fr);
  grid-template-rows: repeat($row, 1fr);
  grid-gap: $gap;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.board {
  @include grid (3, 3, 15px);
  width: 450px;
  height: 450px;
  margin: 50px auto 30px;
  position: relative;
  .board__item {
    @extend %flexible;
    font-size: 3.5em;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 10%;
    cursor: pointer;
    color: #ffffff;
    background-color: rgb(71, 219, 212);
    &:hover {
      background-color: $field-hover;
    }
  }
}

.reset {
  min-width: 150px;
  padding: 20px 25px;
  font-size: 22px;
  border: 1px solid darkgray;
  border-radius: 15px;
  color: dimgrey;
  background-color: $button-color;
  &:hover {
    background-color: $button-hover;
  }
}

.hidden {
  display: none;
}

.modal {
  @extend %modal;
  .modal__window {
    @extend %modal-window;
    padding: 30px 20px;
    .modal__title {
      margin-top: 10px;
      margin-bottom: 30px;
      font-size: 25px;
      color: $txt-color-blue;
    }
  }
}

.select-player {
  @extend %modal;
  .select-player__window {
    @extend %modal-window;
    padding: 25px 20px 35px;
    .select-player__title {
      margin-top: 10px;
      margin-bottom: 30px;
      font-size: 25px;
      color: $txt-color-blue;
    }
    .select-player__button {
      width: 80px;
      padding: 10px 15px;
      font-size: 18px;
      font-weight: 600;
      border: 1px solid darkgray;
      border-radius: 15px;
      background-color: $button-color;
      color: dimgrey;
      &:hover {
        background-color: $button-hover;
      }
      &:active {
        border: 1px solid rgb(73, 180, 175);
        color: $txt-color-blue;
      }
    }
  }
}